<div class="main_about">
  <div class="about">
    <h1>Share Bookとは？</h1>
  </div>
  <div class="description">
    <div>自分が読んだ本を投稿し情報をシェアしたり、</div><br>自分が気になる本を探す事もできます。
  </div>
</div>
<div class="points">
  <div class="point">
    <%= image_tag "book2.png", :size =>'150x150' %>
  </div>
  <div class="point2">
    <%= image_tag "book1.png", :size =>'150x150' %>
  </div>
  <div class="point">
    <%= image_tag "book3.png", :size =>'150x150' %>
  </div>
</div>
<div class="pick-up">
  <h1>––Pick Up Book––</h1>
</div>
<div class="card__wrapper">
  <%= render partial: "book", collection: @books%>
</div>