/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.body_back {
  background-color: beige;
}

.nav__left {
  display: flex;
  justify-content: center;
  margin: 30px 20px;
  font-size: 80px;
  font-family: 'Londrina Shadow', cursive;
  color: rgb(226, 99, 120);
}

.logo {
  width: 100%;
  height: 300px;
}

.nav__right {
  display: flex;
  justify-content: center;
  margin: 30px 30px;
  font-weight: lighter;
}

.nav__btn1 {
  box-shadow: 0 0 5px 1px #ccc; 
  padding: 6px;
  border: solid 1px #3b4043;
  border-radius: 4px;
}

.nav__btn1:hover {
  box-shadow: 0 3px 6px 0 rgba(5, 5, 5, 0.2), 0 1px 8px 0 rgba(3, 3, 3, 0.12);
  cursor: pointer;
}

.nav__btn2 {
  box-shadow: 0 0 5px 1px #ccc;
  margin: 0 20px 0 20px;
  padding: 6px;
  border: solid 1px #3b4043;
  border-radius: 4px;
}

.nav__btn2:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(3, 3, 3, 0.12);
  cursor: pointer;
}

.nav__btn3 {
  box-shadow: 0 0 5px 1px #ccc;
  padding: 6px;
  border: solid 1px #3b4043;
  border-radius: 4px;
}

.nav__btn3:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(3, 3, 3, 0.12);
  cursor: pointer;
}

.log {
  margin-left: 20px;
  margin-top: 6px;
}

.nav__btn4 {
  margin-left: 20px;
  margin-top: 6px;
  color: rgb(219, 89, 111);
  font-weight: 800;
}

.about {
  display: flex;
  justify-content: center;
  text-decoration: underline red;
}

.description {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 15px;
}

.points {
  display: flex;
  justify-content: center;
  margin: 30px 30px

}

.point2 {
  margin: 0 50px 0 50px;
}

.pick-up {
  text-align: center;
}

/* フォーム周り */

.page-heading {
  color: rgb(228, 122, 140);
}

.inner {
  display: flex;
  justify-content: center;
}

.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
  margin-top: 30px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  text-decoration: none;
  user-select: none;
  background: rgb(235, 188, 196);
  border: 1px rgb(241, 223, 225);
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}


















/* フッター */

.footer {
  background-color:rgb(241, 223, 225);
  padding: 20px 0;
}
.copyright {
  text-align: center;
  font-size: 18px;
}